
.content {
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 4px;
}

.rows {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 4px;
    }
}