.container {
  width: 80vw;
  max-height: 80vh;
  overflow-y: hidden;
}

.fullscreen {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.textWrapper {
  transform-origin: top left;
}