.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 224px;
  height: 168px;
  border-radius: 2px;
  border: 1px solid black;
}

.tableBody {
  transform-origin: top left;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}

.rows {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
}
.rows .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}