.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  border: 1px solid blue;
  border-radius: 2px;
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding-top: 19px;
}

.headerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}
.content::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
.content::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 2px;
}

.contentItem {
  display: flex;
  flex-direction: row;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  cursor: pointer;
  width: 14em;
  height: 10.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px;
  border: 2px solid #000000;
}